 .content
    {
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
    
    }
    .inside_content
    {
        display:flex;
        flex-direction: column;
        width:200px;
        text-align: center;
        justify-items: center;
        align-items: center;   
        background-color:linear-gradient(rgba(255, 255, 0, 0.562),rgba(0, 128, 0, 0.425));
    
    }
    #valuing
    {
        width:300px;
        padding:20px;
    }
    #heading{
        text-align: center;
    }

    button:hover{
        box-shadow: 22px 2px black;
        cursor: pointer;
    }
    #buttons
    {
        display:flex;
    }
    .scanner
    {
        border:1px solid black;
        background-color: black;
        color:white;
        padding:5px;
    }
